﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StringBling.aspx.cs" Inherits="BonusAssignment.StringBling" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <label for="stringInput">Type a word here.</label>
                <asp:TextBox runat="server" name="stringInput" ID="stringInput"></asp:TextBox>
            </div>
            <div>
                <asp:Button runat="server" Text="Submit" OnClick="submitString" />
            </div>
        </div>
        <div id="output" runat="server">

        </div>
    </form>
</body>
</html>
